.table-subject-cell {
    border: 1px solid black;
    padding: 4px;
}

.table-primary-bg {
    background-color: white;
}

.table-range-cell {
    border: 1px solid gray;
    padding-left: 4px;
    padding-right: 4px;
}

.student-table-cell {
    border: 1px solid black;
    padding: 4px 8px;
}